@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;1,200;1,300&family=Mulish:ital,wght@0,200;0,300;1,200;1,300&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");


/* Remove as margens do site de todos os elementos*/
*{
margin: 0;
padding: 0;
list-style: none;  /* Retira os pontos dos li */
text-decoration: none; /*Retira os sublinhados dos nomes */
}

:root {
--font-primary: "Baloo Da 20", serif;   /* Criando variaveis, fontes primarias */
--font-secundary: "Josefin Slab", serif; /* Criando variaveis, fontes secundarias */
--font-action: "Mulish", serif;  /* Criando variaveis,fonte de ação que vai ser usada nos links, nos botões, tudo que for uma ação iremos ultilizar*/
}

html {
    scroll-behavior: smooth; /* o scrool da barra de rolagem fica mais suave */
}



.menu1 {
width: 2rem;  /* Largura */
height: 2rem;  /* Altura */
position: fixed;  /* Posição fixa do menu */
z-index: 100 ;    /* Aumentar  para que fique na frente dos elementos */
right: 2rem; /* Bordar direita */
top: 2rem;  /* Topo */
display: flex;
flex-direction: column;
justify-content: space-evenly ;
cursor: pointer;
}

.show-menu .menu1 {
right: 17rem;  /* Animação dentro do js para os traços do menu fiquem dentro da barra de menu */
}

/* A classe que representa a linha */
.line {
width: 100%;  /* Largura da line */
height: .1rem;
background-color: #fff;
box-shadow: 0.1rem 0.1rem 1px #000;
cursor: pointer;  /* Deixando o elemento interativo */
transition: transform 1s;  /* Transformação de trasição de 1 segundo no menu para ele ficar suave */
}


/* A linha de cima e a de baixo de um giro e forme um x */
.show-menu #line1 {
transform: rotate(45deg) translate(.3rem, .45rem);
}

/* Quando a linha 1 tiver sendo selecionada a linha 2 fique oculta */
.show-menu #line2 {
opacity: 0;       /* Opacitade 0 */
visibility: hidden;  /* Vizibilidade oculta */
}

.show-menu #line3 {
transform: rotate(-45deg) translate(.3rem, -.45rem);
}

.menu1 span {
position: absolute;
left: 3rem;
height: 2rem;  /* Altura */
width: 6rem;    /* Largura */
display: flex;   /* Para centralizar o texto */
justify-content: center;  /* Tanto na vertical */
align-items: center;    /* Quanto na horizontal */
background-color: #a044ff;
color: #ffffff;
font-family: var(--font-action);
opacity: 0;
}    

.menu1 span::before {
content: "";  /* Elemento que nao tem conteúdo */
position: absolute; /* Esse elemento vai ter uma posição absoluta */
border-right: .5rem solid #a044ff;
border-top: .5rem solid transparent;
border-left: .5rem solid transparent;
border-bottom: .5rem solid transparent;
left: -1rem;
}

.show-menu .menu1:hover span{
    opacity: 1;
}

header {
width: 100%;   
height: 100vh;
overflow: hidden;
position: relative;
}


.img-wrapper {
width: 100%;   
height: 100%;
overflow: hidden;
background-color: black;
}

.img-wrapper img {
 width: 100%;   
 height: 100;
 object-fit: cover;
 opacity: 0.5;   /* transparencia */
 animation: zoom 25s; /* Chamando a animação do zoom do keyframes */
}

.banner {
position: absolute;
top: 30%;  /* Altura da letra */
left: 15%;  /* Letra para a esquerda */
}

.banner h1 {
color: #ffffff;
font-size: 3.5rem;
font-family: var(--font-primary);
font-weight: 200;
text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);
line-height: 3.5rem;
margin-bottom: 2rem;
opacity: 0;
animation: moveBanner 1s 0.5s forwards;  /* Chamado a animação do titulo */
}

.banner p {
font-family: var(--font-secundary);  /* fonte escolhida */
color: #fff;
font-size: 2rem;
text-shadow: .2rem 2rem 2px rgba (0, 0, 0, .4);
margin-bottom: 2rem; /* Margem do botão */
opacity: 0;
animation: moveBanner 1s 0.7s forwards;  /* Chamado a animação do titulo */
}


.banner button {
font-family: var(--font-action); /* fonte escolhida */
color: #fff;
text-transform: uppercase; /* Transforma em letra maiuscula */
background: #ef32d9; 
background: -webkit-linear-gradient(to right, #ef32d9, #89fffd); 
background: linear-gradient(to right, #ef32d9, #89fffd); 
padding: 1rem 3rem ; /* Altura e largura */
border: none;  /* Nenhuma borda */
cursor: pointer;  /* Ponteiro do cursor, deixar interativo */
opacity: 0;
animation: moveBanner 1s 0.9s forwards;  /* Chamado a animação do titulo */
}

/* Evento no botão */
.banner button:hover {
    opacity: 0.8; /* Animação no botão que escurece quando vc aproxima o mouse */
}

/* Criação de um keyframes */

@keyframes zoom {
0%{
transform: scale(1.3); /* Porcentagem do zoom */

}
100%{

    transform: scale(1); /* Porcentagem do zoom no final*/
}
}

/* Animação das letras do Banner */
@keyframes moveBanner {
0%{
transform: translateY(10rem) rotateY(-30deg); /* Fazer com que as letras desçam e virando */

}
 
100% {
transform: translateY(0) rotateY(0);  /* Animação até o final*/
opacity: 1;
}
}


.sidebar {
width: 20rem; /* Largura */
height: 100vh; /* Altura, tamanho exato da tela */
background-color: #fff;
position: fixed;  /* Posição fixada */
top: 0;  /* Topo do menu, vai sempre está encima independente da posição da tela*/
right: -20rem; /* Vai sempre estar a esquerda independete da posição da tela e no js joga para fora da tela*/
transition: all 1s;  /* Animação de entrada de menu  no js */
}

.show-menu  .sidebar {
right: 0; /* posição no js apartir da direita vai ser 0 */
}

.menu2 {
position: absolute;
top: 40%;   /* Afasta 40% do topo */
left: 50%;  /* Afasta 50% da esquerda */
transform: translate(-50%, -50%);
}

.menu-item {
text-align: center;  /* Deixar o texto  li centralizado */
margin-bottom: .5rem; /* Espaçamento das letras do menu */
}

.menu-link {
font-family: var(--font-action); /* Acionando a fonte da variável */
font-size: 2rem;   /* Ajustando o tamanho da font */
color: #555;
transition: color 1s;  /* Sempre que mudar a mesma vai mudar 1 segundo pra trocar de cor */
}

/* Efeito hover para uma animação de interação no menu */
.menu-link:hover {
    color: #6a3093;  /* Quando aproximar o mouse, a letra muda de cor */
}

.social-media {
    background-color: rgba(255, 0, 0, .5); /* Background por cima das redes sociais */
    position: absolute;  /* Posição das redes sociais ficando absoluta */
    bottom: 2rem;    /* Jogando os icones para baixo apartir do bottom */
    width: 100%;     /* Largura */
    display: flex;   /* Distribuindo os icones pela linha */
    justify-content: space-evenly;     /*  Coloca uma qualidade de espaço entre eles */
}

.social-media i {
color: #555;
height: 2.5rem;  /* Altura */
width: 2.5rem;   /* Largura */
font-size: 2.5rem; /* Aumentando o tamanho os icones das redes sociais */
display: flex;    /* Distribuindo as redes sociais pela linha */
justify-content: center;  /* Alinhando os icones das redes sociais no centro */
align-items: center;   /* Alinhando os icones das redes sociais */
border-radius: 50%;
transition: background-color 1s;
}

.social-media i:hover {
background-color: #a044ff;
}

.conhecimentos {
margin-top: 4%;    
display: grid;
grid-template-columns: repeat(16, 1fr); /* Criando 16 colunas no elemento CONHECIMENTOS */
grid-template-rows: repeat(6, 6rem);    /* Criando e repetindo 6 linhas com altura de 6 */
}

.conhecimento:nth-child(1) {
grid-column: 3 / 7;  /* Vai começar na coluna 4 e terminar na coluna 7 */
grid-row: 1 / 3;     /* Vai começar na linha 1 e vai terminar na linha 3 */
}

.conhecimento:nth-child(2) {
grid-column: 3 / 6;  /* Vai começar na coluna 3 e terminar na coluna 6 */
grid-row: 3 / 5;     /* Vai começar na linha 3 e vai terminar na linha 5 */
}

.conhecimento:nth-child(3) {
 grid-column: 3 / 7;  /* Vai começar na coluna 4 e terminar na coluna 7 */
 grid-row: 5 / -1;     /* Vai começar na linha 5 e vai terminar na linha -1 */
}   

.conhecimento:nth-child(4) {
grid-column: 11 / 14;  /* Vai começar na coluna 11 e terminar na coluna 14 */
grid-row: 1 / 3;     /* Vai começar na linha 1 e vai terminar na linha 3 */
}
 
.conhecimento:nth-child(5) {
grid-column: 11 / 14;  /* Vai começar na coluna 12 e terminar na coluna 15 */
grid-row: 3 / 5;     /* Vai começar na linha 3 e vai terminar na linha 5 */
}

.conhecimento:nth-child(6) {
grid-column: 11 / 14;  /* Vai começar na coluna 11 e terminar na coluna 14 */
grid-row: 5 / -1;     /* Vai começar na linha 5 e vai terminar na linha -1 */
}

.sessao-conhecimentos {
background-color: #f5f5f5 ;  /* Cor de fundo do elementos CONHECIMENTOS */
}



.sessao-header {
height: 8rem; /* Altura do sobre para os cards */
display: flex;
align-items: center;  /* Alinhamentos vertical */
justify-content: center;  /* Alinhamento horizontal */
}

.sessao-header h1 {
font-family: var(--font-primary);  /* Fonte de h1 */
font-size: 3rem;  /* Tamanho da Fonte do h1 */
margin-top: 5%;
color: #4b4b4b ;   /* cor do h1 */
border-bottom: solid 3px #6a3093;  /* Borda do h1 */
margin-bottom: 1.3rem;  /* Espaçamento de linhas do h1 */
}

.conhecimento-header {
display: flex; /* Faz com que fique um ao lado do outro */
align-items: center;
color: #4b4b4b;
}

.conhecimento-header i {
font-size: 2.5rem;   /* Tamanho da fonte do icone */
}

.conhecimento-header h3 {
font-family: var(--font-secundary);   /* Estilo da fonte do h3 */
font-size: 2rem; /* Tamanho da fonte do h3 */
padding-left: 1rem; /* Espaçamento do lado esquerdo */
}

.conhecimento-text {
font-family: var(--font-secundary); /* Estilo da fonte do texto */
}

.conhecimento-img-wrapper {
grid-column: 7 / 11;  /* centralizando a imagem entre os textos do elemento CONHECIMENTO  imagem 1*/
grid-row: 3 / 6;      /* Centralizando mais para baixo */
width: 100%;
}

.conhecimento-img-wrapper2 {
   
grid-column: 7 / 11;  /* centralizando a imagem entre os textos do elemento CONHECIMENTO imagem 2 */
}

.conhecimento-img-wrapper3 {
grid-column: 7 / 11;    /* centralizando a imagem entre os textos do elemento CONHECIMENTO  imagem 3*/
grid-row: 5 / 6;        /* Centralizando mais para baixo */
}

.projetos {
display: flex;
justify-content: space-evenly;
margin-top: 0.8rem;
}

.card {
    
    width: 15rem;
    height: 27rem;
    position: relative;
    
}

.card-img-wrapper {
width: 100%;
height: 100%;
background-color: #262626;
border-radius: .5rem;
}

.card-img-wrapper img {
object-fit: cover;
width: 100%;
height: 100%;
border-radius: .5rem;
opacity: 0.50;
}



.card-info h2{
    margin: 10px;
    font-family: var(--font-primary);
    font-size: 1.2rem;
    font-weight: 500;
    color: #eee;
    font-weight: bold;  /* Peso da fonte */
}

.card-info p {
font-family: var(--font-secundary);
font-weight: bolder;  /* Adiciona bastante peso na fonte pra ela aparecer bem */
font-size: 1.2rem;
width: 100%;  /* Comprimento da fonte do elemente Card */
color: #d3cfcf;
opacity: 0.80;
margin-bottom: 1rem;
}

.card-info button {   
font-family: var(--font-action);    /* Estilo da font do elemento button */
width: 6rem;    /* Comprimento do elemento botão */
height: 2.1rem;   /* Largura do elemento botão */
background: #ef32d9;   /* Cor do elemento botão */
background: -webkit-linear-gradient(to right, #ef32d9, #89fffd);  /* Cor do elemento botão */
background: linear-gradient(to right, #ef32d9, #89fffd);   /* Cor do elemento botão */
color: #eee;
text-transform: uppercase;
border-radius: none;

}

.card:hover .card-info{
bottom: 2rem;
opacity: 1;
visibility: visible;

}

/* Formulario de contato */
.sessao-contato {
width: 100%; /* Largura de 100% do formulário */
height: 100vh;  /* Altura do tamanho da viewport */
background-color: #272727;
display: flex;  
align-items: center;  /* Alinha o conteúdo no centro da página */
justify-content: center;  /* Justificar os conteúdos no centro */
}

/* Continuação do formulário de contato */
.contato-wrapper {
width: 87%;
height: 35rem;
display: flex;  /* Fica um elemento do lado do outo */
}

/* Continuação do formulário de contato */
.contato-left{
   width: 80%;
   height: 100%;
   background:
    linear-gradient(rgba(15,15,15, 0.6), rgba(22,22,22, 0.9)),url(imagens/fotoformulario.jpg);   /* Imagem selecionada para a capa do formulaário */
   background-size: cover;   /* Definindo o tamanho da imagem */
}

/* Continuação do formulário de contato */
.contato-right {    
    
width: 75%;
height: 64%;
background-color: #eee;
padding: 3rem  10rem 10rem;  /* Espaço entre as margens 3rem encima e 10rem em cada lado */
}

/* Continuação do formulário de contato */
.sessao-contato h1{
 width: 100%;
 text-align: center;   
font-family: var(--font-primary);
color:#272727;
font-size: 3rem;
font-weight: lighter ;
}

/* Continuação do formulário de contato */
.sessao-contato form{
    width: 100%;   /* Largura de 100%  */
    display: flex;   /* Fica um ao lado do outro */
    flex-direction: column ;  /* Coloca um embaixo do outro */
    text-align: center;
}

/* Continuação do formulário de contato */
.field {
background: transparent;  /* Deixa transparente a caixa do formulário */
border: none;  /* Sem borda */
width: 25rem;
font-size: 1.5rem;
font-family: var(--font-secundary);
border-bottom: 2px dashed  #636363;
height: 3rem; /* Altura */
outline: none;
margin: 2rem 0;  /* Margem da linha traçada para os nomes dentro do elemento formulário */

}

/* Continuação do formulário de contato */
.input-group {
position: relative;

}

/* Continuação do formulário de contato */
.input-group textarea {
padding-top: 1rem;
max-width: 30rem; /* Textarea no maximo de 30 */
max-height: 3rem;  /* Altura maxima de 3 linhas */

}

/* Continuação do formulário de contato */
.field-label {
position: absolute;
left: 0;
top: 1rem; /* Distancia do nome do formulario para os tracinhos do formulario */
font-family: var(--font-secundary);
text-transform: uppercase;
font-size: 1.2rem;
}

/* Continuação do formulário de contato */
.field:focus ~ label {
top: 0;  /* Quando você clicar no campo o nome que está no campo, sobe */
}

/* Continuação do formulário de contato */
.field:focus {
    border-bottom: 1px solid;
}

/* Continuação do formulário de contato */
.enviar {
    font-family: var(--font-action);    /* Estilo da font do elemento button */
    width: 30rem;    /* Comprimento do elemento botão */
    height: 100%;   /* Largura do elemento botão */
    background: #ef32d9;   /* Cor do elemento botão */
    background: -webkit-linear-gradient(to right, #ef32d9, #89fffd);  /* Cor do elemento botão */
    background: linear-gradient(to right, #ef32d9, #89fffd);   /* Cor do elemento botão */
    color: #eee;
    text-transform: uppercase;
    border-radius: none;
    }
 /* Conteúdo orçamento */    
 .sessao-orcamento {
 width: 100%;    /* Largura da página */
 height: 100vh;  /* Altura da Vwer */
 background: url("imagens/Capaformulario.jpg");
 object-fit: cover;  /* Para cobrir a area */
 display: flex;  /* Posicionando no meio o menu orcamento */
 justify-content: center;  /* Posicionando no meio o menu orcamento */
 align-items: center;  /* Posicionando no meio o menu orcamento */

}


/* Conteúdo orçamento */  
.orcamento-wrapper {
    width: 60%;
    height: 80%;
    background-color: #ffffff;
    opacity: 0.8;
    border-radius: 10px;
    box-shadow:  0 0.1rem 0.3rem ;
    position: relative;
}

/* Conteúdo orçamento */  
.sessao-orcamento  h1 {
position: absolute;
top: -2.5rem;
left: 2rem;
background: #ef32d9;   /* Cor do elemento botão */
background: -webkit-linear-gradient(to right, #ef32d9, #89fffd);  /* Cor do elemento botão */
background: linear-gradient(to right, #ef32d9, #89fffd);   /* Cor do elemento botão */
padding: 0 3rem;  /* 0 em cima e 0 em baixo e 3 na direito e 3 na esquerda */
color: #fff ;
font-family: var(--font-primary);
font-size: 3rem;  /* Tamanho da letra */
font-weight: lighter;   /* Tirando um pouco do peso da letra */
box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);  /* Sombra da caixa */
}




/* Conteúdo orçamento */  
.sessao-orcamento form {
margin: 4rem;
display: grid; /* Torna o elemento um grid container. */
grid-template-columns: auto 1fr ; /* Configurando pra ter 2 colunas */
column-gap: 2rem; /* ESpaçameto entre as colunas */
row-gap: 1rem;  /* ESpaçamento entre as linhas */
}



/* Conteúdo orçamento */ 
.sessao-orcamento label {
font-family: var(--font-secundary);  /* Fonte do texto do orçamento */
font-size: 1.5rem; /* Tamanho da fonte */
font-weight: bold;  /* Peso da fonte */
}

/* Conteúdo orçamento */ 
.sessao-orcamento input[type="number"]{
font-family: var(--font-secundary); /* fonte do input */
width: 4rem; /* Largura do input */
font-size: 2rem; /* Tamanho da fonte */
outline: none;            /* Tirar a borda quando vc clica dentro da caixa */
border-radius: 10px ;   /* Arredondando um pouco a borda */
padding: 0.3rem;      /* Espaçamento dos números dentro da caixa */
}


/* Conteúdo orçamento */ 
.btn-btn-orcamento {
    text-transform: uppercase;  /* Todas as letras maiúsculas */
    height: 200%;  /* Altura do botão enviar */
    width: 80%;  /* Largura do botão enviar */
    padding: 1rem;
    cursor: pointer;
    background: #ef32d9;   /* Cor do elemento botão */
    background: -webkit-linear-gradient(to right, #ef32d9, #89fffd);  /* Cor do elemento botão */
    background: linear-gradient(to right, #ef32d9, #89fffd);   /* Cor do elemento botão */
    padding: 0 3rem;  /* 0 em cima e 0 em baixo e 3 na direito e 3 na esquerda */
    color: #fff ;
    grid-column: 2;  /* Posição do botão enviar vai ficar na coluna 2 */
}

footer {
margin-top: 4px;    
width: 100%;  /* Largura de 100% do footer */
height: 10rem;     /* Altura de 10 */
background-color: #17181b;  /* Cor de fundo do footer */
display: flex;  /* Posicionando os elementos */
justify-content: center;  /* Alinhar todos eles  tanto na horizontal*/
align-items: center;      /* Alinhar todos eles  tanto na vertical*/
}

.footer-content {
width: 60%;  /* Largura */
display: flex;  /* Posicionando os elementos */
justify-content: space-between;  /* Espaçamento dos elementos bem distantes */
}

.footer-content p {
font-family: var(--font-secundary); /* Fonte do parágrafo */
color: #a7a7a7 ;  /* Cor do parágrafo */
font-size: 1.2rem;  /* Tamanho da fonte do parágrafo */
}

.social-list a{
margin: 0 2rem;
color: #a7a7a7 ;
font-size: 1.3rem;
}
 .social-list ul {
display: flex;  /* Posicionando os elementos */

 }


 #link-topo {
position: fixed; /* Posição fixa , vai aparecer sempre na página */
right: 3rem;   /* E vai estar sempre a direita */
bottom: 3rem;  /* Tamanho do botão */
width: 2rem;   /* Largura */
height: 2rem;  /* Altura */
background: #ef32d9;   /* Cor do elemento botão */
 background: -webkit-linear-gradient(to right, #ef32d9, #89fffd);  /* Cor do elemento botão */
background: linear-gradient(to right, #ef32d9, #89fffd);   /* Cor do elemento botão */
display: flex;  /* Posicionando os elementos */
justify-content: center;  /* Alinhar todos eles  tanto na horizontal*/
align-items: center;    /* Alinhar todos eles  tanto na vertical*/
color: white;
border-radius: 3rem;  /* Arredondar a borda */
}


.card-info {
opacity: 0;
font-family: var(--font-secundary);  /* Estilo da fonte do elemento Card */
margin-top: 1.3rem;    /* Espaço de uma margem */
position: absolute;
padding: 2rem;  /* Afastando um pouco da direita */
bottom: 0;
transition: all .3s; /* Efeito das letras aparecendo e subindo dentro do elemento card */
visibility: hidden;
text-shadow: 0.0.1rem 0.3rem rgba(0, 0, 0, rgba(0, 0, 0, .4) /* Colocando uma sombra nas letras do elemento card */
}


